# Telegram

TELEGRAM_BOT_TOKEN=****************************************

TELEGRAM_CHANNEL_ID=*************

# Kafka

KAFKA_BROKER_URLS=localhost:****

KAFKA_TOPIC=***********_notifications

KAFKA_GROUP_ID=********-***-consumer-group