# Telegram

TELEGRAM_BOT_TOKEN=8327384528:AAGvZIWH949s9f3kaMBDdCVpTXW8LmXf2ww

TELEGRAM_CHANNEL_ID=-1003657753944

# Kafka

KAFKA_BROKER_URLS=localhost:9092

KAFKA_TOPIC=photographer_notifications

KAFKA_GROUP_ID=telegram-bot-consumer-group